/*Aeris for wordpress with bootstrapped and p5.js*/

/* 0. p5.js and body background */

body {
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url(background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#brownian {
    margin-top: -100px;
    position: fixed !important;
    z-index: 1;
    opacity: 0.5;
}

/* 0A. Link properties */

a:link {
    font-family: Evolventa;
    color: #000;
}

a:visited {
    text-decoration: none;
    color: #555;
}

a:focus, a:hover {
    text-decoration: none;
    opacity: 0.9;
}

a:active {
    opacity: 0.5;
}

/* 1. Bootstrap navbar */

.navbar-custom {
    /*border-bottom: 0.1px solid;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar {
    border-radius: 0px;
    border: unset;
    /*border-color: #000;*/
}

.navbar-default {
    background-color: #fff;
    margin-bottom: 0px;
    border: unset;
}

#topNavBar {
    border: unset;
    padding: 0px;
}

.nav-tabs {
    border: unset;
}

/* title */
.navbar-default .navbar-brand {
    color: #000;
    font-family: Evolventa;
    font-size: 28px;
    letter-spacing: 4px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #000;
    /*text-decoration: overline red;*/
}

/* link */
.navbar-default .navbar-nav > li > a {
    color: #000;
    font-family: Evolventa;
    font-size: 28px;
    letter-spacing: 3px;
}

.navbar-right {
    margin: unset;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #000;
    /*text-decoration: overline red;*/
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}

/*button*/

.nav-tabs:hover {
    background-color: rgba(128, 0, 0, 0.1);
    /*border-bottom: 1px solid red;*/
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 6px 3px;
    margin-top: 10px;
    margin-right: 30px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
}
/* 2. Bootstrap container and jumbotron */
title {font-size: 30px;}

.container .jumbotron {
    margin-top: 50px;
    border-radius: 0px;
    text-align: center;
}

.container {
	background-color:rgba(255, 255, 255, 0);
    margin-top: 100px;
    margin-bottom: 50px;
    position: relative;
    z-index: 2;
    padding-left: 0px;
    padding-right: 0px;

}

/* 3. Bootstrap thumbnail */


.thumbnail {
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 0px;
	border: none;
    padding: 16px;
	transition: background .05s linear;
	-webkit-transition: background .05s linear;
	-o-transition: background .05s linear;
	text-decoration: none;
    z-index: 1000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.album-img {
    display: block;
    width: none;
    height: none;
    max-width: 100%;
    max-height: 100%;
}

.thumbnail:hover {
	background-color: rgba(0, 0, 0, 0.7);
	text-decoration: none;
    color: red;
}


#post-list {
    margin-top: 50px;
    text-align: center;
}

/* 3A. Pre properties; settings for whole site */

pre {
    overflow: hidden;
    white-space: pre;
    word-wrap: break-word;
    border: none;
    border-radius: unset;
    background-color: RGBA(252,252,252,0.92);
}

/* 4. Pure JS menu */

.tree {
    opacity: 0.9;
    max-width: fit-content;
}

.tree ul {
    width:fit-content;
    padding-left: 0px;
}

.tree li {
    list-style-type:none;
    margin:0;
    /*padding:10px 5px 0 5px;*/
    position:relative;
}

.tree li span {
    background-color: white;
    margin-bottom: 10px;
    width: 200px;
    white-space:pre-line;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    border:1px solid #000;
    border-radius:0px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none;
    transition: background .05s linear;
    -webkit-transition: background .05s linear;
    -o-transition: background .05s linear;
}

.tree li span:hover {
    background: #000;
    border:1px solid #fff;
    color: #fff;

}

.btn {
    white-space: normal;
}

/* 5. Singlepost thumbnail */

.singlepost {
    background-color: #fff;
    margin-top: 50px;
    opacity: 1;
    padding: 75px;

}

.singlepost:hover {
    background-color: #fff;
}


/*6. Tracks, annotation*/

#tracks {
    margin-top: 50px;
}

#annotation-album {
    margin-top: 50px;
}

/*7. Player layout*/
/*#player {
    position: fixed! important;
    padding-top: 0;
    left: 0;
    right: 0;
    height: auto !important;
    background-color: #000;
    display: block !important;
    overflow: visible !important;
}*/

/* 8. Albums view */

.tilter__caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 4em;
}

.tilter__title {
  font-weight: normal;
  line-height: 1;
  margin: 0;
}

.tilter__description {
  margin: 1em 0 0 0;
  letter-spacing: 0.15em;
}